<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Grilld Admin - all clients</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="index.html :: header"></header>
<main>
    <div class="margin-top-130-auto">
        <h1>Admin Panel - <a href="dishes">dishes</a> | <a href="clients">[clients]</a> | <a href="employees">employees</a> | <a href="restaurants">restaurants</a></h1><br/>
        <span id="msg" th:if="${message != null}" th:text="${message}"></span>
        <div class="flex" th:if="${clients != null}">
            <table class="info_table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tlf</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="client:${clients}">
                        <td th:text="${client.id}"></td>
                        <td th:text="${client.tlf_type}"></td>
                        <td th:text="${client.name}"></td>
                        <td><a class="btn_edit">Edit</a><a class="btn_delete" th:href="@{'clients/delete/' + ${client.id}}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>