<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Grilld Admin - all employees</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="index.html :: header"></header>
<main>
    <div class="margin-top-130-auto">
        <h1>Admin Panel - <a href="dishes">dishes</a> | <a href="clients">clients</a> | <a href="employees">[employees]</a></h1><br/>
        <a class="btn_add" href="employees/add">Add</a>
        <span id="msg" th:if="${message != null}" th:text="${message}"></span>
        <div class="flex" th:if="${employees != null}">
            <table class="info_table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee:${employees}">
                        <td th:text="${employee.name}"></td>
                        <td><a class="btn_delete" href="">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>