body {
    margin: auto;
    font-family: Arial;
}
header {
    margin: auto;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: gainsboro;
    justify-content: space-between;
}
#login {
    margin: 20px 20px 0 0;
}
#nav_menu {
    align-self: flex-end;
}
img {
    display:block;
}
main {
    display: flex;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.vertical_align_middle {
    vertical-align: middle;
}
#msg {
    border: 1px solid purple;
    font-size: 18px;
    padding: 8px;
}
.submit_btn {
    margin-top: 20px;
    cursor: pointer;
    width: 100px;
    border-radius: 2em;
    text-align: center;
    text-transform: uppercase;
    background-color: limegreen;
    font-size: 18px;
    font-weight: bold;
    color: ghostwhite;
}
#takeaway_menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 20px;
}
#menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 1260px;
}
.takeaway-item {
    padding: 0 20px 20px 20px;
    flex-basis: 25%;
    background-color: maroon;
    margin: 0 20px 20px 0;
    color: white;
    -moz-box-shadow: inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow: inset 0 0 15px #000000;
}
.takeaway-quantity select {
    margin-top: -2px;
}
.choose_dish {
    background-color: #566013;
    -moz-box-shadow: inset 0 0 25px #000000;
    -webkit-box-shadow: inset 0 0 25px #000000;
    box-shadow: inset 0 0 25px #000000;
}
.menu-item {
    flex-basis: 25%;
    min-width: 260px;
}
.menu-item div {
    height: 300px;
    padding: 15px;
    margin: 15px;
    background-color: lightgray;
}
#restaurants {
    width: 1000px;
}
.restaurant {
    padding: 25px;
    border: 1px solid black;
}
.reservation_left {
    margin: 20px 30px 20px 30px;
}
.reservation_right {
    margin: 20px 30px 20px 0px;
    padding-left: 30px;
}
.reservation_info {
    width: 100%;
    border-collapse: collapse;
    font-weight: 500;
    border: 1px solid lightgray;
}
.reservation_info tr td {
    padding: 20px;
}
.border_left {
    border-left: 1px solid black;
}
.flex {
    display: flex;
}
.flex-evenly {
    justify-content: space-evenly;
}
.flex-between {
    justify-content: space-between;
}
.flex-end {
    justify-content: flex-end;
}
.margin_auto {
    margin: auto;
}
.message {
    margin: 10px 0 0 0;
}
.space-between {
    justify-content: space-between;
}
.margin-bottom {
    margin-bottom: 50px;
}
.margin-top-130-auto {
    margin: 130px auto;
}
.btn_edit, .btn_delete, .btn_add, .btn_bck, .btn_book, .btn_log {
    cursor: pointer;
    border: 0 none;
    border-radius: 9px;
    color: #ffffff;
    padding: 8px;
    margin: 5px;
}
.btn_edit {
    background-color: green;
}
.btn_delete {
    background-color: crimson;
}
.btn_add {
    background-color: blue;
}
.btn_bck {
    background-color: purple;
}
.btn_book {
    background-color: darkorange;
}
.btn_log {
    background-color: darkorchid;
}
.btn_edit:hover, btn_delete:hover {
    transition: all 150ms linear;
    opacity: .85;
}
.order_box {
    padding: 0 20px 0 20px;
}
.takeaway_table {
    min-width: 400px;
    max-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
}
.info_table {
    min-width: 700px;
    max-width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 100%;
}
.info_table td:last-child {
    text-align: right;
}
.takeaway_table th:last-child:td:last-child {
    text-align: right;
}
.info_table td, .takeaway_table td {
    border-top: 1px solid lightgray;
    padding: 12px;
    text-align: center;
}
.info_table tbody tr:hover {
    background-color: lightgray;
}
